## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import config file using sys (I performed it this way for security purposes...
# I googled how to pull from a location other than the same folder)
import sys  
sys.path.insert(0, "/Users/KATLIN/Documents/Data Analytics/Classwork/")
import config

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,2022-01-29 18:35:16,-46.1927,168.8643,61.48,96,100,1.88,overcast clouds
1,1,Artigas,UY,2022-01-29 18:35:16,-30.4000,-56.4667,91.27,18,0,12.53,clear sky
2,2,Jamestown,US,2022-01-29 18:35:17,42.0970,-79.2353,17.53,44,20,4.00,few clouds
3,3,Busselton,AU,2022-01-29 18:35:17,-33.6500,115.3333,66.04,89,0,15.55,clear sky
4,4,Rikitea,PF,2022-01-29 18:35:18,-23.1203,-134.9692,77.29,74,100,12.80,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Busselton,AU,2022-01-29 18:35:17,-33.6500,115.3333,66.04,89,0,15.55,clear sky
4,4,Rikitea,PF,2022-01-29 18:35:18,-23.1203,-134.9692,77.29,74,100,12.80,light rain
6,6,Kavaratti,IN,2022-01-29 18:35:18,10.5669,72.6420,80.85,73,72,6.06,broken clouds
11,11,Puerto Del Rosario,ES,2022-01-29 18:35:20,28.5004,-13.8627,65.88,82,0,4.61,haze
12,12,Kapaa,US,2022-01-29 18:35:20,22.0752,-159.3190,73.72,89,100,10.36,overcast clouds
15,15,San Ignacio,BZ,2022-01-29 18:35:21,17.1561,-89.0714,71.74,73,75,6.91,broken clouds
20,20,Puerto Ayora,EC,2022-01-29 18:35:23,-0.7393,-90.3518,80.56,69,17,9.64,few clouds
21,21,Hermanus,ZA,2022-01-29 18:35:24,-34.4187,19.2345,68.81,71,1,15.86,clear sky
26,26,Carnarvon,AU,2022-01-29 18:35:25,-24.8667,113.6333,73.47,94,67,6.91,broken clouds
27,27,Saint-Philippe,RE,2022-01-29 18:33:09,-21.3585,55.7679,80.15,84,56,9.51,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                3
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna(inplace=True)
preferred_cities_df

C:\Users\KATLIN\anaconda3\envs\PythonData\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Busselton,AU,2022-01-29 18:35:17,-33.6500,115.3333,66.04,89,0,15.55,clear sky
4,4,Rikitea,PF,2022-01-29 18:35:18,-23.1203,-134.9692,77.29,74,100,12.80,light rain
6,6,Kavaratti,IN,2022-01-29 18:35:18,10.5669,72.6420,80.85,73,72,6.06,broken clouds
11,11,Puerto Del Rosario,ES,2022-01-29 18:35:20,28.5004,-13.8627,65.88,82,0,4.61,haze
12,12,Kapaa,US,2022-01-29 18:35:20,22.0752,-159.3190,73.72,89,100,10.36,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
672,672,Lasem,ID,2022-01-29 18:40:47,-6.6922,111.4527,77.14,89,100,5.26,overcast clouds
679,679,Flinders,AU,2022-01-29 18:40:50,-34.5833,150.8552,74.21,85,100,5.99,overcast clouds
682,682,Gundlupet,IN,2022-01-29 18:40:51,11.8000,76.6833,67.77,79,53,3.80,broken clouds
687,687,Boende,CD,2022-01-29 18:40:53,-0.2167,20.8667,78.53,37,11,1.83,few clouds
688,688,Dwarka,IN,2022-01-29 18:40:59,22.2394,68.9678,68.70,56,0,9.91,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Busselton,AU,66.04,clear sky,-33.6500,115.3333,
4,Rikitea,PF,77.29,light rain,-23.1203,-134.9692,
6,Kavaratti,IN,80.85,broken clouds,10.5669,72.6420,
11,Puerto Del Rosario,ES,65.88,haze,28.5004,-13.8627,
12,Kapaa,US,73.72,overcast clouds,22.0752,-159.3190,
...,...,...,...,...,...,...,...
672,Lasem,ID,77.14,overcast clouds,-6.6922,111.4527,
679,Flinders,AU,74.21,overcast clouds,-34.5833,150.8552,
682,Gundlupet,IN,67.77,broken clouds,11.8000,76.6833,
687,Boende,CD,78.53,few clouds,-0.2167,20.8667,
688,Dwarka,IN,68.70,clear sky,22.2394,68.9678,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
  
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Busselton,AU,66.04,clear sky,-33.6500,115.3333,Observatory Guest House
4,Rikitea,PF,77.29,light rain,-23.1203,-134.9692,People ThankYou
6,Kavaratti,IN,80.85,broken clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
11,Puerto Del Rosario,ES,65.88,haze,28.5004,-13.8627,Hotel JM Puerto del Rosario
12,Kapaa,US,73.72,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...
672,Lasem,ID,77.14,overcast clouds,-6.6922,111.4527,"Nyah Lasem | Museum, Warung & Community Center"
679,Flinders,AU,74.21,overcast clouds,-34.5833,150.8552,Shellharbour Resort & Conference Centre
682,Gundlupet,IN,67.77,broken clouds,11.8000,76.6833,"1 BR Boutique stay in Melukamanahally, Chamraj..."
687,Boende,CD,78.53,few clouds,-0.2167,20.8667,
688,Dwarka,IN,68.70,clear sky,22.2394,68.9678,Hotel Narayan Avezika Comfort

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.loc[hotel_df["Hotel Name"]!=""]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Busselton,AU,66.04,clear sky,-33.6500,115.3333,Observatory Guest House
4,Rikitea,PF,77.29,light rain,-23.1203,-134.9692,People ThankYou
6,Kavaratti,IN,80.85,broken clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
11,Puerto Del Rosario,ES,65.88,haze,28.5004,-13.8627,Hotel JM Puerto del Rosario
12,Kapaa,US,73.72,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...
671,Wiang Sa,TH,73.89,few clouds,8.6359,99.3666,ชำนาญอินน์
672,Lasem,ID,77.14,overcast clouds,-6.6922,111.4527,"Nyah Lasem | Museum, Warung & Community Center"
679,Flinders,AU,74.21,overcast clouds,-34.5833,150.8552,Shellharbour Resort & Conference Centre
682,Gundlupet,IN,67.77,broken clouds,11.8000,76.6833,"1 BR Boutique stay in Melukamanahally, Chamraj..."
688,Dwarka,IN,68.70,clear sky,22.2394,68.9678,Hotel Narayan Avezika Comfort

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

# #Load csv
file_to_load = "WeatherPy_vacation.csv"

# #Read csv
clean_hotel_df = pd.read_csv(file_to_load)
clean_hotel_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Busselton,AU,66.04,clear sky,-33.6500,115.3333,Observatory Guest House
1,4,Rikitea,PF,77.29,light rain,-23.1203,-134.9692,People ThankYou
2,6,Kavaratti,IN,80.85,broken clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
3,11,Puerto Del Rosario,ES,65.88,haze,28.5004,-13.8627,Hotel JM Puerto del Rosario
4,12,Kapaa,US,73.72,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...,...
265,671,Wiang Sa,TH,73.89,few clouds,8.6359,99.3666,ชำนาญอินน์
266,672,Lasem,ID,77.14,overcast clouds,-6.6922,111.4527,"Nyah Lasem | Museum, Warung & Community Center"
267,679,Flinders,AU,74.21,overcast clouds,-34.5833,150.8552,Shellharbour Resort & Conference Centre
268,682,Gundlupet,IN,67.77,broken clouds,11.8000,76.6833,"1 BR Boutique stay in Melukamanahally, Chamraj..."
269,688,Dwarka,IN,68.70,clear sky,22.2394,68.9678,Hotel Narayan Avezika Comfort

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
# max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#              max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))